@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #333;
  padding: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2em;
  font-family: "Caprasimo", cursive;
  letter-spacing: 0.2em;
  color: #eee2de;
  margin-bottom: 0.5em;
  text-align: center;
}

button {
  border-radius: 1em;
  margin: 1em 0em;
}

input {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 1em 0em;
  text-align: center;

  &:focus {
    outline: none;
  }
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

.input:focus + .underline {
  transform: scale(1);
}
.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  margin: 0.5em 0em;
  top: 185px;

  transform: scale(0, 1);

  transition: all 0.5s linear;
  width: 202px;
}

button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
